@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table border="1">
    <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Appetizer</td>
        <td>Caesar Salad</td>
        <td>$7.99</td>
    </tr>
    <tr>
        <td>Main Course</td>
        <td>Grilled Salmon</td>
        <td>$15.99</td>
    </tr>
    <tr>
        <td>Main Course</td>
        <td>Chicken Alfredo</td>
        <td>$14.99</td>
    </tr>
    <tr>
        <td>Dessert</td>
        <td>Chocolate Cake</td>
        <td>$5.99</td>
    </tr>
</table>